.characters {
    display: flex;
    flex-wrap: wrap;
  }
  
  .character {
    width: 200px;
    height: 300px;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2px;
  }

  img {
      height: 150px;
      width: 150px;
      border-radius: 8px;
      object-fit: contain;
      padding-top: 20px;
  }